<div class="card-box col-12 col-md-6 col-lg-4">
  <%= link_to "/movies/#{movie.id}" do %>
    <div class="card border-dark mb-3">
      <div class="YoutubeWrapper"><%= embed_youtube(movie.url) %></div>
      <object class="btn btn-primary">視聴済みボタン</object>
      <div class="card-body">
        <h5 class="card-title">Lv.<%= movie_counter + 1 %> : <%= movie.title %></h5>
      </div>
    </div>
  <% end %>
</div>
