<div class="card-box col-12 col-md-6 col-lg-4">
  <%= link_to "/movies/#{movie.id}" do %>
    <div class="card border-dark mb-3">
      <div class="YoutubeWrapper">
        <div class="embed-responsive embed-responsive-16by9">
          <%= embed_youtube(movie.url) %>
        </div>
      </div>
      <button class="button_custom btn btn-primary btn-block">視聴済みボタン</button>
      <div class="card-body">
        <h5 class="card-title">Lv.<%= movie_counter + 1 %> : <%= movie.title %></h5>
      </div>
    </div>
  <% end %>
</div>
