<div class="text-center">
  <% if params[:genre] == "php" %>
    <h1>PHP動画</h1>
  <% else %>
    <h1>Ruby/Rails動画</h1>
  <% end %>
</div>  
<div class="movie-container">
  <div class="row">
    <%= render partial: "movie", collection: @movies %>
  </div>
</div>
