/*
 *= require_tree .
 *= require_self
 */

@import "bootstrap/scss/bootstrap";

 /* 全体 */
.base-container {
  margin: 0 auto;
  padding: 1rem;
}

/* max-width */
.mw-md {
  max-width: 720px;
}

.mw-lg {
  max-width: 960px;
}

.mw-xl {
  max-width: 1200px;
}

//フラッシュの背景色
.alert-notice {
  @extend .alert-success;
}

.alert-alert {
  @extend .alert-danger;
}

// ナビバーの配置調整
header {
  height: 57px;
  background-color: #007bff;
}

.navbar-nav {
  font-size: 13px;
}

.navbar {
  margin: 0 auto;
  max-width: 950px;
}