
.text-center {
  height: 50px;
}

.text-container {
  .card-box {
    margin-bottom: 50px;
    padding-right: 15px;
    padding-left: 15px;
    max-width: 400px;
  }

  .card {
    height: 350px;
  }

  .text-card-img {
    max-width: 100%;
  }

  .card-title {
    font-size: 16px;
    color: black;
  }

  .btn {
    margin: 15px 0px;
  }
}